@page "/contact"
<h3 class="mt-5">Dane kontaktowe</h3>
<hr/>
<p><b>Autor:</b> Mateusz Madej</p>
<p><b>Grupa:</b> 1b</p>
<p><b>Specjalizacja:</b> Inżynieria oprogramowania</p>
<p><b>Semestr:</b> 6</p>
<p><b>Rok:</b> 3</p>
<p><b>Wydział:</b> Budowy Maszyn i Informatyki</p>
<p><b>Uczelnia:</b> Akademia Techniczno-Humanistyczna w Bielsku-Białej</p>
<h3 class="mt-5">GitHub</h3>
<hr/>
<p><b>Autor:</b> <a href="https://github.com/MADEY-OS" style="text-decoration: none; color: black">Madey.OS</a></p>
<p><b>Repozytorium:</b> <a href="https://github.com/MADEY-OS/ATH-Hostel-Reservation-System" style="text-decoration: none; color: black">ATH Hostel Reservation System</a></p>


