@page "/"

<div class="container">
    <h3 class="mt-5">Witaj na Stronie ATH Hostel Reservation</h3>
    <hr/>
    <h5 class="mt-5">Strona zajmuje się wyszukiwaniem oraz bookowaniem hosteli.</h5>
    <hr/>
    <div class="row">
        <div class="col">
            <div class="row mb-3"><img class="img-fluid" style="min-width: 350px; min-height: 350px;" src="images/hostels/1.jpg"/></div>
            <div class="row mb-3"><img class="img-fluid" style="min-width: 350px; min-height: 350px;" src="images/hostels/2.jpg"/></div>
        </div>
        <div class="col">
            <div class="col">
                <div class="row mb-3"><img class="img-fluid" style="min-width: 350px; min-height: 350px;" src="images/hostels/4.jpg"/></div>
                <div class="row mb-3"><img class="img-fluid" style="min-width: 350px; min-height: 350px;" src="images/hostels/5.jpg"/></div>
            </div>
        </div>
        <div class="col">
            <div class="col">
                <div class="row mb-3"><img class="img-fluid" style="min-width: 350px; min-height: 350px;" src="images/hostels/6.jpg"/></div>
                <div class="row mb-3"><img class="img-fluid" style="min-width: 350px; min-height: 350px;" src="images/hostels/7.jpg"/></div>
            </div>
        </div>
        </div>

</div>